.card {
  margin: 20px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: yellow;
  font-family: 'Oswald', sans-serif;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.spec {
  font-size: 24px;
}
.desc {
  color: white;
}

.card:hover {
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0.2);
}

.card:active {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0.2);
}

@media (min-width: 426px) {
  .spec {
    font-size: 26px;
  }
  .desc {
    font-size: 20px;
  }
  .card {
    width: 40%;
  }
}
